.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__row {
  z-index: 1;
  margin: 20px 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.home__rowProduct {
  width: 25%;
  height: 450px;
}
